@charset "utf-8";
body{background:#fff;}
.width{margin:0 auto;width:1200px;}
.clear{clear:both;}
.ui-topbar{background:#f8f8f8;border-bottom:1px solid #eaeaea;color:#5a5a5a;height:50px;display:block;padding:0;}
.ui-topbar .ui-col-6{line-height:50px;}
.ui-topbar .ui-nav{border:0;line-height:22px;}
.ui-topbar .ui-nav ul li a{color:#333;border:1px solid #f8f8f8;border-bottom:0;border-top:0;padding:15px 20px;}
.ui-topbar .ui-nav ul li a span{font-size:12px;color:#999;margin-left:6px;transition:all .5s ease 0s;z-index:21;}
.ui-topbar .ui-nav ul li a:hover{border-width:1px;border-color:#d9d9d9;background:#fff;}
.ui-topbar .ui-nav ul li.active a{border:1px solid #d9d9d9;border-bottom:0;border-top:0;background:#fff;}
.ui-topbar .ui-nav ul li.active span{transform:rotate(180deg);}
.ui-topbar .ui-nav ul li ul{border-top:0;box-shadow:none;min-width:124px;z-index:20;right:0;}
.ui-topbar .ui-nav ul li.active ul li a{border:0;}
.ui-topbar .ui-nav ul li ul li a:hover{background:#1890FF;}

.header{padding:30px 0;}
.logo{padding-top:0px;align-self:center;}
.logo img{max-width:300px;}
.search{padding-left:20px;}
.search .ui-form-ip{border-color:#1890FF;border-width:2px;}
.search .ui-form-ip:focus{box-shadow:none;}
.search .after{background:#1890FF;color:#fff;border:2px solid #1890FF;padding:0 20px;}
.hotkey{color:#999;}
.hotkey a{margin-right:10px;}

.mincart{height:52px;line-height:52px;display:block;float:right;position:relative;z-index:10;border:1px solid #eaeaea;width:150px;text-align:center;cursor:pointer;}
.mincart i{margin-right:10px;color:#1890FF;}
.mincart:hover{box-shadow:0 0 10px rgba(0,0,0,0.1);}
.mincart:hover:before{height:15px;content:'';position:absolute;right: 0;bottom:-5px;left:0;z-index:10;background:#fff;}
.mincart>a{color:#999;display:block;width:100%;}
.mincart>a:hover{color:#1890FF;}
.mincart em{min-width:20px;height:20px;line-height:20px;padding:0;color:#fff;font-size:12px;text-align:center;position:absolute;top:-8px;right:-8px;border-radius:50%;background:#1890FF;}
.mincart .cart-detail{width:350px;display:none;padding:10px;position:absolute;top:50px;right:-1px;color:#999;box-shadow:0 0 10px rgba(0,0,0,0.1);border:1px solid #eee;background:#fff;max-height:400px;overflow:auto;}
.mincart:hover .cart-detail{display:block;}
.mincart .cart-detail p{margin:0;}
.mincart .cart-detail ul{list-style:none;}
.mincart .cart-detail ul li{display:flex;text-align:left;justify-content:flex-start;align-items:flex-start;border-bottom:1px solid #eee;padding-bottom:10px;margin-bottom:10px;}
.mincart .cart-detail ul li:last-child{margin-bottom:0;}
.mincart .cart-detail ul li .image{border:1px solid #eee;padding:2px;margin-right:10px;}
.mincart .cart-detail ul li .name{width:180px;padding-right:10px;line-height:24px;font-size:15px;}
.mincart .cart-detail ul li .price{flex:1;line-height:20px;align-items:center;justify-content:center;text-align:right;padding-right:10px;}
.mincart .cart-detail ul li .price a{display:block;}
.mincart .cart-detail ul li .price span{color:#f30;}
.mincart .cart-detail .action{display:flex;justify-content:center;align-items:center;}
.mincart .cart-detail .action .total{padding-top:10px;}
.mincart .cart-detail .action .total span{color:#f30;margin-right:5px;}
.mincart .cart-detail .action .go{flex:1;text-align:right;padding-top:10px;line-height:normal;}

.topnav{position:relative;}
.topnav .leftnav{background:#1890FF;text-align:left;color:#fff;line-height:50px;padding-left:25px;position:relative;width:230px;}
.topnav .leftnav span{margin-right:15px;}
.topnav .leftnav>a{color:#fff;}
.home_nav{position:absolute;left:0;z-index:30;width:100%;background:#1890FF;min-height:472px;}
.home_nav ul{list-style:none;margin:0;padding:0;position:relative;}
.home_nav ul li{padding:0;line-height:29px;padding:8px 20px;}
.home_nav ul li i{margin-right:15px;}
.home_nav ul li a{color:#fff;}
.home_nav ul li a:hover{color:#ff0;}
.home_nav ul li p{margin:5px 0 0;padding:0;line-height:24px;}
.home_nav ul li p a{font-size:13px;display:inline-block;margin-right:20px;color:#fff;}
.home_nav ul li p a:hover{color:#ff0;}
.home_nav ul li .dropnav{position:absolute;width:970px;height:472px;overflow-y:auto;background:#fff;top:0;left:230px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);color:#333;display:none;padding:15px 20px;}
.home_nav ul li .dropnav dl{margin:0;padding:0;display:flex;min-height:50px;}
.home_nav ul li .dropnav dt{display:inline-block;margin-right:10px;width:110px;}
.home_nav ul li .dropnav dt a{color:#333;font-weight:600;line-height:30px;}
.home_nav ul li .dropnav dd{display:inline-block;border-bottom:1px solid #eee;line-height:30px;width:100%;padding-bottom:10px;}
.home_nav ul li .dropnav dd a{margin-right:15px;font-size:15px;color:#666;display:inline-block;}
.home_nav ul li .dropnav dd a.active{color:#f30;}
.home_nav ul li .dropnav a:hover{color:#f30;}
.home_nav ul li .dropnav .brand{margin-top:20px;}
.home_nav ul li .dropnav .brand .bname{color:#333;font-weight:600;line-height:20px;padding:0;}
.home_nav ul li .dropnav .brand a{border:1px solid #eee;display:inline-block;margin:0 10px 10px 0;width:100px;height:50px;}
.home_nav ul li .dropnav .brand a img{width:100%;height:100%;}

.home_nav ul li:hover{background:rgba(0,0,0,.15)}
.home_nav ul li:hover .dropnav{display:block;}
.topnav .navs{border:0;margin-left:30px;}
.topnav .navs ul{list-style:none;display:flex;}
.topnav .navs ul li{margin-right:30px;}
.topnav .navs ul li a{color:#333;border-bottom:1px solid transparent;line-height:40px;padding-bottom:10px;}
.topnav .navs ul li a:hover{color:#1890FF;}
.topnav .navs ul li.active a{color:#1890FF;border-bottom-color:#1890FF;}

.banner{min-width:1200px;}
.banner .ui-carousel-item a{height:550px;display:block;min-width:1200px;width:100%;}
.banner .ui-carousel-page{margin-bottom:95px;}
.banner .ui-carousel-page li{width:10px;height:10px;border-radius:50%;background:none;border:2px solid #fff;opacity:1;}
.banner .ui-carousel-page li.active{background:#fff;}
.banner .bslide{background:url(../images/bg-slide.png) no-repeat center bottom;background-size:100% 72px;height:80px;z-index:1;position:absolute;left:0;right:0;bottom:-1px;}
.banner .bslide .width{background:#fff;border-radius:10px;height:90px;box-shadow:0 2px 26px rgba(0,0,0,0.07);}
.banner .bslide .userinfo{padding:15px 10px 18px 25px;border-right:1px solid #eee;display:flex;}
.banner .bslide .userinfo .face{margin-right:25px;font-size:13px;}
.banner .bslide .userinfo .face img{width:60px;height:60px;border-radius:50%;border:1px solid #eee;padding:4px;}
.banner .bslide .userinfo .logintxt{color:#999;}
.banner .bslide .userinfo .logintxt p{margin-top:10px;}
.banner .bslide .userinfo .logintxt p a{margin-right:10px;border:1px solid #1890FF;border-radius:4px;padding:8px 10px;font-size:14px;color:#1890FF;}
.banner .bslide .userinfo .logintxt p a:hover{background:#1890FF;color:#fff;}
.banner .bslide .ui-col-5{border-right:1px solid #eee;padding:10px 0;}
.banner .bslide .icon .ui-col-3{text-align:center;border-right:1px dotted #ddd;padding-top:10px;}
.banner .bslide .icon .ui-col-3:last-child{border:0;}
.banner .bslide .icon .ui-col-3 a{color:#999;line-height:30px;}
.banner .bslide .icon .ui-col-3 a i{display:block;font-size:32px;color:#1890FF;}
.banner .bslide .ui-col-4{padding:0 20px;}
.banner .bslide .ui-col-4 .ui-menu .ui-menu-name{padding-bottom:10px;}
.banner .bslide .ui-col-4 li{border-bottom:0;padding-left:0;font-size:15px;height:36px;line-height:36px;padding:0;overflow:hidden;}

.home_title{margin:15px 0 -10px 0;}
.home_title h2{display:inline-block;margin:0;font-size:22px;font-weight:400;}
.home_title .limit{display:inline-block;margin-left:10px;}
.home_title .limit span{color:#999;margin-right:10px;}
.home_title .limit .ui-endtime i{font-size:16px;font-weight:400;padding:4px;background:#2DB7F5;color:#fff;margin:0 5px;border-radius:4px;min-width:30px;display:inline-block;text-align:center;}
.home_title .limit .ui-endtime i:first-child{margin-left:0;}
.home_title .more{line-height:30px;}
.home_title .more a{font-size:14px;vertical-align:middle;}

.bg_body{background:linear-gradient(#fff,#fafafa);padding:15px 0;min-height:400px;}
.bg_body_inner{background:#fafafa;border-top:1px solid #eee;}

.home_goods{margin-top:15px;padding-top:3px;}
.home_goods .ui-tabs-header-subject{border-bottom:1px solid #1890FF;}
.home_goods .ui-tabs-header-title{text-indent:0px;padding-bottom:5px;font-size:22px;font-weight:500;max-width:250px;}
.home_goods .ui-tabs-nav{margin-bottom:-1px;margin-right:10px;}
.home_goods .ui-tabs-nav li{margin:0;padding:0 5px;line-height:normal;border:1px solid transparent;border-top-width:2px;}
.home_goods .ui-tabs-nav li a{color:#666;}
.home_goods .ui-tabs-nav li.active{border-radius:0;border:1px solid #1890FF;border-top-width:2px;border-bottom-color:#fff;background:#fff;}
.home_goods .ui-tabs-nav li.active a{color:#1890FF;}
.home_goods .ui-tabs-body{border:1px solid #eaeaea;border-top:0;background:#fff;display:flex;}
.home_goods .ui-tabs-body .ui-tabs-body-left{}
.home_goods .ui-tabs-body .ui-tabs-content{flex:1;padding:15px 15px 0 15px;min-height:340px;}
.home_goods .ui-piclist{}

.home_goods_nice{list-style:none;width:235px;margin:14px 0 15px 15px;}
.home_goods_nice li{padding:0px;margin-bottom:14px;}
.home_goods_nice li:last-child{margin-bottom:0;}
.home_goods_nice li img{width:100%;height:332px;}
.home_goods_nice li:hover{box-shadow:0 1px 20px rgba(0,0,0,0.1);}

.frinedlink{margin:15px auto 5px auto;}
.frinedlink a{display:inline-block;background:#fff;padding:10px 15px;margin-right:5px;margin-bottom:10px;border:1px solid #eee;border-radius:5px;color:#666;}
.frinedlink a:hover{border-color:#40a9ff;color:#555;}

.why{border-top:1px solid #efefef;margin:0 0 20px 0;}
.why .ui-row{border-bottom:1px solid #efefef;padding:30px 0;}
.why .ui-col-3{font-size:18px;color:#666;text-align:center;}
.why .ui-col-3 i{font-size:40px;color:#1890FF;margin-right:10px;}

.footnavs{padding:10px 0 30px 0;}
.footnavs .ui-col-9{display:flex;}
.footnavs .ui-col-9 .item{margin-right:20px;padding:0 20px;min-width:130px;}
.footnavs .ui-col-9 .item h4{font-weight:600;}
.footnavs .ui-col-9 .item ul{list-style:none;}
.footnavs .ui-col-9 .item ul li{line-height:25px;}
.footnavs .ui-col-9 .item ul li a{color:#999;}
.footnavs .ui-col-9 .item ul li a:hover{color:#f30;}
.footnavs .ui-col-3{border-left:1px solid #eaeaea;padding-left:40px;}
.footnavs .ui-col-3 .tel{color:#1890FF;font-size:22px;font-weight:400;line-height:35px;}
.footnavs .ui-col-3 .tel i{font-size:30px;color:#999;margin-right:10px;}
.footnavs .ui-col-3 .tel .date{font-size:14px;color:#333;margin:0 0 0 42px;padding:0 12px;background:#FDFCFC;display:inline-block;border:1px solid #eaeaea;}

.bg_footer{background:#222;padding:30px 0 20px 0;}
.bg_footer .link{color:#555;}
.bg_footer .link a{color:#fff;padding:0 15px;border-left:1px solid #555;}
.bg_footer .link a:first-child{padding-left:0;border-left:0;}
.bg_footer .link a:hover{color:#ff0;}
.copyright{color:#888;margin-top:25px;line-height:24px;}
.copyright a{color:#888;}
.copyright a:hover{color:#fff;}

.goodlist{margin-top:20px;}

.goods_show{background:#fff;margin-top:15px;box-shadow:0 1px 10px rgba(0,0,0,0.07);display:flex;}
.goods_show_sku{box-shadow:none;margin-top:0;display:table;width:100%;}
.goods_show .lefter{border-right:1px solid #eee;padding:25px 30px 10px 30px;width:55%;position:relative;}
.goods_show .lefter .space{height:80px;}
.goods_show .lefter .action{position:absolute;bottom:20px;left:0;right:0;}
.goods_show .lefter .action .ui-btn-group-item:first-child{border-radius:30px 0 0 30px;}
.goods_show .lefter .action .ui-btn-group-item:last-child{border-radius:0 30px 30px 0;}
.goods_show .lefter .action i{color:#999;}
.goods_image{display:block;}
.goods_image .big{text-align:center;width:100%;min-height:500px;}
.goods_image .big img{width:auto;max-width:100%;}
.goods_image .big video{width:100%;min-height:450px;background:#fafafa;}
.goods_image .small{text-align:center;margin-top:20px;width:600px;padding-top:10px;overflow-x:auto;overflow-y:hidden;}
.goods_image .small ul{display:flex;justify-content:center}
.goods_image .small ul li{list-style:none;border:1px solid #eaeaea;border-radius:3px;position:relative;background:#fff;padding:5px;margin-right:10px;cursor:pointer;min-width:70px;}
.goods_image .small ul li:hover{border-color:#ddd;}
.goods_image .small ul li.active{border-color:#1890FF;}
.goods_image .small ul li.active:before{background:#fff;content:"";display:block;position:absolute;right:29px;top:-7px;width:12px;height:12px;border:1px solid #1890FF;border-bottom:0;border-right:0;transform:rotate(45deg);}
.group_list{margin-top:15px;}
.group_list{border-top:1px solid #eee;border-bottom:1px solid #eee;padding-top:15px;}
.group_list li{min-height:80px;}
.group_list .ui-media-text span{color:#f30;margin:0 5px;}
.group_list .ui-media-text span:first-child{margin-left:0;}

.goods_show .righter{padding:20px 30px;width:45%;}
.goods_show .righter h1{font-size:24px;border-bottom:1px solid #eee;padding-bottom:15px;}
.goods_show .righter .words{line-height:24px;padding:10px 0;color:#999;}
.goods_show .limit{background:linear-gradient(90deg,#1890FF 1%,#2DB7F5 60%);padding:8px 15px;color:#fff;margin-top:10px;line-height:30px;}
.goods_show .limit .ui-endtime{color:#fff;float:right;}
.goods_show .limit .ui-endtime i{color:#fff;}

.goods_show .price{background:#fafafa;padding:15px 20px;box-shadow:0 1px 10px rgba(0,0,0,0.07);border:1px solid #eee;border-top:0;position:relative;min-height:130px;}
.goods_show .price ul{list-style:none;}
.goods_show .price ul li{line-height:30px;color:#666;}
.goods_show .price ul li em{color:#999;padding-right:10px;}
.goods_show .price ul li span{color:#f30;}
.goods_show .price ul li del{color:#999;}
.goods_show .price .qrcode{position:absolute;top:20px;right:20px;width:90px;height:90px;text-align:center;}
.goods_show .price .qrcode canvas{width:100%;background:#fff;padding:6px;border:1px solid #ddd;}

.goods_show .attribute{list-style:none;margin-top:15px;padding:0 10px;border-bottom:1px solid #f3f3f3;}
.goods_show .attribute li{line-height:40px;color:#555;}
.goods_show .attribute li em{color:#999;padding-right:15px;}

.goods_show .activity{list-style:none;padding:0 10px;margin-top:15px;}
.goods_show .activity li{line-height:30px;display:flex;color:#555;}
.goods_show .activity li em{color:#999;}
.goods_show .activity li span{color:#f30;padding-right:5px;}
.goods_show .activity li dl{margin-top:3px;}
.goods_show .activity li dl dt{font-weight:normal;line-height:24px;}

.goods_show .skushow{list-style:none;padding:0 10px;margin-top:15px;}
.goods_show .skushow p{background:#1890FF;color:#fff;font-size:14px;padding:10px 0 10px 20px;display:none;}
.goods_show .skushow li{line-height:30px;display:flex;color:#555;}
.goods_show .skushow li em{color:#999;display:inline-block;min-width:54px;padding-top:5px;}
.goods_show .skushow li span{color:#f30;padding-right:5px;}
.goods_show .skushow li dl{margin-top:3px;display:flex;flex-wrap:wrap;flex:1;}
.goods_show .skushow li dl dt{font-weight:normal;line-height:24px;border:1px solid #eaeaea;border-radius:5px;padding:10px 15px;margin:0 10px 10px 0;cursor:pointer;position:relative;}
.goods_show .skushow li dl dt:hover{border:1px solid #1890FF;}
.goods_show .skushow li dl dt:hover a{color:#1890FF;}
.goods_show .skushow li dl dt i{position:absolute;right:1px;bottom:-6px;color:#fff;z-index:20;font-size:8px;display:none;}
.goods_show .skushow li dl dt.selected{border:1px solid #1890FF;}
.goods_show .skushow li dl dt.selected a{color:#1890FF;}
.goods_show .skushow li dl dt.selected:before{position:absolute;content:"";right:0;bottom:0;color:#1890FF;width:0;height:0;border-bottom:20px solid #1890FF;border-left:20px solid transparent;z-index:10;}
.goods_show .skushow li dl dt.selected i{display:block;}
.goods_show .sku_selected{border:1px solid #1890FF;padding:0;}
.goods_show .sku_selected li{padding:0 15px 0 15px;}
.goods_show .sku_selected li:last-child{padding-bottom:15px;}
.goods_show .sku_selected p{display:block;margin-bottom:15px;}

.goods_show .action{list-style:none;padding:0 10px;margin-top:10px;clear:both;}
.goods_show .action li{display:flex;padding:6px 0;align-items:center;}
.goods_show .action li em{color:#999;width:56px;display:inline-block;}
.goods_show .action li button{margin-right:10px;}
.goods_show .action li u{margin-left:15px;font-style:normal;color:#555;text-decoration:none;}
.goods_show .action li .ui-btn{padding:4px 25px;}

.goods_show .action li .ui-btn [class*=ui-icon-]{font-size:20px;}
.goods_show .action li.hide{display:none;}

.goods_suit{}
.goods_suit .ui-tabs-nav li.active{border-radius:0;box-shadow:0px -2px 10px 0px rgba(0,0,0,0.05);margin-bottom:-1px;border:1px solid #eee;border-bottom-color:#fff;}
.goods_suit .ui-tabs-nav li a{border-top:0px solid #1890FF;padding:10px 25px;}
.goods_suit .ui-tabs-content{box-shadow:0 3px 10px 0 rgba(0,0,0,0.05);padding:0;border:1px solid #eee;}
.goods_suit .ui-tabs-pane{display:flex;}
.suit_base{width:182px;height:160px;display:block;padding:20px 0 10px 20px;}
.suit_base a{border:1px solid #eee;padding:5px 5px 15px 5px;display:block;}
.suit_base a img{width:100%;}
.suit_base a p{padding:2px 15px;}
.suit_base a:hover{box-shadow:0px 2px 10px 0px rgba(0,0,0,0.2);}

.suit_plus{width:60px;text-align:center;padding-top:110px;}
.suit_list{flex:1;height:292px;overflow-y:auto;padding:20px 0 10px 0;}
.suit_list ul{list-style:none;margin:0;padding:0;width:100%;}
.suit_list ul li{width:162px;border:1px solid #eee;margin:0 20px 15px 0;padding:5px 5px 15px 5px;float:left;}
.suit_list ul li:hover{box-shadow:0px 2px 10px 0px rgba(0,0,0,0.2);}
.suit_list ul li img{width:100%;}
.suit_list ul li p{padding:2px 15px;margin:0;}
.suit_list ul li p span{color:#f30;}

.suit_total{padding:75px 0 0 30px;border-left:1px solid #f3f3f3;width:210px;}
.suit_total ul{list-style:none;}
.suit_total li{font-weight:normal;color:#666;}
.suit_total li span{color:#f30;}
.suit_total li em{color:#06f;}

.goods_show_footer{display:flex;margin-top:15px;}
.goods_show_footer .lefter{width:250px;margin-right:20px;}
.goods_show_footer .lefter .boxs{background:#fff;box-shadow:0 1px 10px rgba(0,0,0,0.07);border:1px solid #eee;}
.goods_show_footer .lefter .boxs .ui-menu-name{padding:15px 20px;}

.goods_coupon{display:flex;margin:10px 0;font-size:15px;}
.goods_coupon_left{width:70px;padding:3px 0 0 10px;color:#999;}
.goods_coupon_right{flex:1;}
.goods_coupon_right_body{display:flex;flex-wrap:wrap;line-height:30px;}
.goods_coupon_right_name{flex:1;color:#666;}
.goods_coupon_right_name span{color:#f30;margin:0 3px;}
.goods_coupon_right_act{width:80px;text-align:right;}
.goods_coupon_right_act a{color:#f30;text-decoration:underline;}

.likepro{padding:15px;}
.likepro ul{list-style:none;}
.likepro ul li{border:1px solid #eee;margin-bottom:15px;padding:2px 2px 15px 2px;}
.likepro ul li:last-child{margin-bottom:0;}
.likepro ul li img{width:100%;}
.likepro ul li p{padding:2px 15px;}
.likepro ul li p span{color:#f30;}
.likepro ul li:hover{box-shadow:0px 2px 10px 0px rgba(0,0,0,0.2);}

.goods_show_footer .righter{background:#fff;flex:1;box-shadow:0 1px 10px rgba(0,0,0,0.07);border:1px solid #eee;}
.goods_show_footer .righter .ui-tabs-nav{border-bottom:1px solid #eee;}
.goods_show_footer .righter .ui-tabs-nav li{padding:2px 15px;margin-bottom:-1px;}
.goods_show_footer .righter .ui-tabs-content{padding:25px 30px;}

.goods_param{display:flex;list-style:none;flex-wrap:wrap;margin-bottom:20px;border-bottom:1px solid #f3f3f3;padding-bottom:20px;}
.goods_param li{width:50%;line-height:30px;}
.goods_param li span{color:#999;display:inline-block;min-width:120px;text-align:right;padding-right:15px;}

.score_top{padding:0 20px;line-height:30px;color:#999;}
.score_top .ui-col-3 span{color:#f30;padding-right:5px;}
.score_top .ui-col-9 .progress{margin-top:5px;}

.score_bar{overflow:hidden;border-bottom:1px solid #f3f3f3;margin:15px 0;}
.score_bar ul{}
.score_bar ul li{display:inline-block;line-height:40px;padding:0 15px;border-bottom:2px solid #fff;cursor:pointer;color:#999;}
.score_bar ul .active{border-bottom:2px solid #1890FF;color:#1890FF;display:inline-block;}

.box-base{margin:20px 0 10px 0;padding:20px;box-shadow:1px 2px 10px rgba(0,0,0,0.1);border:1px solid #f3f3f3;background:#fff;}
.box-user{padding:0px;min-height:400px;}

/*会员部分*/

.border-right{border-right:1px solid #eaeaea;min-height:400px;}

.usernav{}
.usernav ul{margin:15px 0;padding:0 0 10px 0;list-style:none;}
.usernav ul li{color:#999;line-height:45px;height:45px;margin-bottom:1px;}
.usernav ul li .title{padding-left:25px;}
.usernav ul li .title span{margin-right:10px;}
.usernav ul li a{padding-left:53px;line-height:45px;height:45px;display:block;}
.usernav ul li a:hover{background:#f3f3f3;}
.usernav ul .hover a{padding-left:53px;line-height:45px;height:45px;display:block;background:#1890FF;color:#fff;}
.usernav ul .hover a:hover{background:#1890FF;color:#fff;}


.api_user{padding:0 0 20px 60px;font-size:15px;}
.api_user span{color:#1890ff;}
.api_user a{color:#f30;}
.form-right{padding-top:40px;line-height:40px;}
.form-right .quick{padding:20px 0;}
.form-right .quick h3{margin:20px 0;padding-bottom:5px;border-bottom:1px dashed #eaeaea;}
.form-right .quick a{display:inline-block;text-align:center;margin:0 15px;color:#999;transition:all .3s ease 0s;}
.form-right .quick a:hover{transform:translate3d(0,-5px,0);}
.form-right .quick a span{display:block;width:60px;line-height:60px;border-radius:50%;text-align:center;background:#f3f3f3;font-size:30px;}
.form-right .quick a span.blue{background:#E7F7FE;color:#1890FF;}
.form-right .quick a span.red{background:#F8E6EC;color:#ED4014;}
.form-right .quick a span.green{background:#E6F8E6;color:#19BE6B;}

.user_info{padding:20px 30px;}
.user_info .face{width:10%;float:left;margin-right:10%;cursor:pointer;}
.user_info .face img{border-radius:50%;border:1px solid #f3f3f3;padding:4px;}
.user_info .info{float:left;width:75%;}
.user_info .info p span{color:#f30;}
.user_info .info ul{margin:0;padding:0;list-style:none;}
.user_info .info ul li{font-size:16px;line-height:50px;height:50px;border-bottom:1px dashed #eee;vertical-align:middle;float:left;width:45%;margin-right:5%;}
.user_info .info ul li span{color:#f30;}
.user_info .info ul li em{color:#999;display:inline-block;width:80px;text-align:right;margin-right:10px;}
.user_info .info ul li a{float:right;}
.user_info .info ul li a span{color:#999;}
.user_info .info ul li a:hover span{color:#f30;}

.ordercount{display:flex;margin-top:40px;}
.ordercount a{display:block;width:16%;margin:0 2%;text-align:center;border:1px solid #eee;padding:0 0 10px 0;border-radius:6px;font-size:15px;font-weight:300;color:#999;background:#FDFCFC;transition:all .3s ease 0s;}
.ordercount a span{display:block;font-size:30px;color:#f30;padding:20px 0;margin-bottom:10px;border-bottom:1px solid #eee;background:#fff;}
.ordercount a:hover{box-shadow:0 1px 20px rgba(0,0,0,.1);transform:translate3d(0,-5px,0);}

/*收货地址*/
.user_address{overflow:hidden;}
.user_address ul{width:100%;list-style:none;}
.user_address ul li{float:left;width:31%;margin:0 2.3% 2.3% 0;border:1px solid #ededed;box-shadow:1px 2px 10px rgba(0,0,0,0.08);height:200px;position:relative;border-radius:4px;}
.user_address ul li .pd{padding:15px 20px;}
.user_address ul li h4{font-weight:bold;font-size:16px;margin:0;padding:0;}
.user_address ul li h4 span{float:right;color:#90BAFF;}
.user_address ul li p{color:#666;line-height:24px;margin:8px 0 0 0;padding:0;}
.user_address ul li .bt{position:absolute;bottom:0;width:100%;line-height:50px;text-align:right;padding-right:15px;border-top:1px solid #f3f3f3;}
.user_address ul li .bt a{color:#666;}
.user_address ul li .bt a:hover{color:#f30;}
.user_address ul li i{position:absolute;right:6px;top:4px;display:block;font-size:20px;color:#fff;z-index:10;display:none;}
.user_address ul li:hover{box-shadow:0px 1px 10px rgba(0,0,0,0.1);}
.user_address ul li:hover .bt{display:block;}
.user_address ul .hover{border-color:#CADCFA;}
.user_address ul .hover:before{position:absolute;content:"";right:0;top:0;color:#1890FF;width:0;height:0;border-top:60px solid #1890FF;border-left:60px solid transparent;z-index:10;}
.user_address ul .hover i{display:block;}
.user_address ul .add{text-align:center;line-height:200px;color:#999;}
.user_address ul .add span{margin-right:10px;}
.user_address ul .add a{color:#999;display:block;}
.user_address ul .add:hover a{color:#f30;}

.sharemoney{border:1px solid #eaeaea;margin:15px 0;padding:15px 15px 15px 0;}
.sharemoney .item{display:inline-block;border-right:1px solid #eaeaea;padding:10px 30px;text-align:center;color:#999;min-height:60px;vertical-align:middle;}
.sharemoney .item span{display:block;font-size:18px;color:#666;}
.sharemoney .item .active{color:#f30;}
.sharemoney .item:last-child{border:0;}

.myorder{list-style:none;margin-top:15px;}
.myorder li{margin-bottom:20px;border:1px solid #eee;box-shadow:2px 1px 6px rgba(0,0,0,0.1);}
.myorder span{display:inline-block;}
.myorder .goods_subject{background:#fafafa;display:flex;justify-content:space-between;}
.myorder .goods_subject .leftbox{border-right:1px solid #eee;padding:10px 20px;flex:1;}
.myorder .goods_subject .rightbox{padding:10px 20px;}
.myorder .goods_subject .date{font-family:sans-serif;width:100px;}
.myorder .goods_subject .orderid{width:320px;}
.myorder .goods_subject .orderid a{color:#06f;font-family:sans-serif;}
.myorder .goods_subject .orderid a span{cursor:pointer;}
.myorder .goods_subject .price{width:120px;}
.myorder .goods_subject .num{width:80px;}
.myorder .goods_subject .action{width:80px;}
.myorder .goods_subject .total{width:100px;padding-left:10px;}
.myorder .goods_subject .view{width:100px;}
.myorder .goods_subject .view a{color:#06f;}
.myorder .goods_subject .view a:hover{color:#03f;}

.myorder .goods_item{background:#fff;display:flex;justify-content:space-between;}
.myorder .goods_item .leftbox{border-right:1px solid #eee;flex:1;}
.myorder .goods_item .rightbox{padding:20px;border-top:1px solid #eee;}
.myorder .goods_item .suit{background:#fafafa;}
.myorder .goods_item .item{border-top:1px solid #eee;padding:20px 20px 10px 20px;}
.myorder .goods_item .pic{width:100px;}
.myorder .goods_item .pic img{width:80px;height:auto;border:1px solid #eaeaea;padding:2px;}
.myorder .goods_item .name{width:320px;/*overflow:hidden;white-space:nowrap;text-overflow:ellipsis;*/vertical-align:top;}
.myorder .goods_item .name a{color:#555;}
.myorder .goods_item .name a:hover{color:#f30;}
.myorder .goods_item .name em{display:block;color:#999;}
.myorder .goods_item .price{width:120px;color:#999;}
.myorder .goods_item .num{width:80px;}
.myorder .goods_item .action{width:80px;}
.myorder .goods_item .action a{display:block;color:#666;font-size:12px;border:1px solid #ddd;padding:6px 12px;border-radius:4px;background:linear-gradient(#fff,#f3f3f3);box-shadow:1px 1px 6px rgba(0,0,0,0.1);text-align:center;}
.myorder .goods_item .action a:hover{color:#f30;}
.myorder .goods_item .total{width:100px;padding-left:10px;vertical-align:top;color:#f60;}
.myorder .goods_item .status{width:100px;line-height:30px;}

.myordershow{border:1px solid #eee;}
.myordershow h2{background:linear-gradient(#fff,#fafafa);padding:10px 25px;font-size:16px;font-weight:500;color:#626262;border-bottom:1px solid #eee;margin:0;}
.myordershow .orderstatus{padding:25px;}
.myordershow .orderstatus .action{background:linear-gradient(#fff,#f9f9f9);margin-top:-10px;padding:20px 30px;border:1px solid #eaeaea;border-radius:4px;position:relative;box-shadow:1px 1px 10px rgba(0,0,0,0.1);z-index:0;overflow:hidden;}

.myordershow .orderstatus .action .status{padding-top:10px;}
.myordershow .orderstatus .action .doing{position:absolute;right:20px;top:20px;}
.myordershow .orderstatus .action p{margin:0;padding:10px 0 5px 0;font-size:15px;color:#999;}
.myordershow .orderstatus .action p span{color:#f30;}

.myordershow .goodslist{overflow:hidden;}
.myordershow .goodslist span{display:inline-block;}
.myordershow .goodslist .goods_subject{background:#fafafa;overflow:hidden;border-top:1px solid #eee;border-bottom:1px solid #eee;padding:10px 25px;white-space:nowrap;}
.myordershow .goodslist .goods_subject span{color:#666;}
.myordershow .goodslist .goods_subject .item{width:12%;padding:10px 15px;white-space:nowrap;}
.myordershow .goodslist .goods_subject .name{width:40%;border-right:0px solid #eee;}
.myordershow .goodslist .goods_subject .total{width:14%;}

.myordershow .goodslist .goods_item{padding:0 0 10px 0;border-bottom:1px solid #eee;white-space:nowrap;}
.myordershow .goodslist .goods_item .item{width:12%;height:100px;line-height:80px;padding:10px 15px;}
.myordershow .goodslist .suit{background:#fafafa;}
.myordershow .goodslist .goods_item .name{width:40%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:top;border-right:0px solid #eee;line-height:normal;}
.myordershow .goodslist .goods_item .name em{display:block;color:#999;}
.myordershow .goodslist .goods_item .name .pic{width:100px;float:left;}
.myordershow .goodslist .goods_item .name .pic img{width:80px;height:auto;border:1px solid #eaeaea;padding:2px;}
.myordershow .goodslist .goods_item .total{width:14%;}

.myordershow .goodslist .goods_item .score{width:50%;vertical-align:top;padding:5px 0;overflow:hidden;}
.myordershow .goodslist .goods_item .score textarea{display:block;border:1px solid #eaeaea;width:100%;height:80px;padding:10px;margin:5px 0 10px 0;}
.myordershow .goodslist .goods_item .score .imgbox{width:50px;height:50px;line-height:50px;border:1px solid #eaeaea;text-align:center;font-size:18px;cursor:pointer;background:#f3f3f3;overflow:hidden;clear:both;display:inline-block;}
.myordershow .goodslist .goods_item .score .imgbox:hover{background:#999;color:#fff;}
.myordershow .goodslist .goods_item .score .score-imglist{overflow:hidden;display:inline;}
.myordershow .goodslist .goods_item .score .score-imglist span{width:50px;height:50px;margin-left:5px;border:1px solid #eaeaea;position:relative;cursor:pointer;}
.myordershow .goodslist .goods_item .score .score-imglist span img{width:100%;height:100%;}
.myordershow .goodslist .goods_item .score .score-imglist span em{position:absolute;width:100%;height:100%;left:0;bottom:-54px;line-height:50px;text-align:center;background:rgba(0,0,0,0.6);color:#fff;transition:all .3s ease 0s;font-size:18px;}
.myordershow .goodslist .goods_item .score .score-imglist span:hover em{bottom:0;}

.myordershow .goodslist .scorebtn{width:60%;float:right;line-height:25px;padding:20px 0 0 0;text-align:left;padding:25px 25px 25px 0;}

.myordershow .goodslist .totals{width:250px;float:right;line-height:25px;padding:20px 0 0 0;text-align:right;padding:25px 25px 25px 0;}
.myordershow .goodslist .totals span{display:inline-block;width:120px;text-align:right;color:#999;float:left;}
.myordershow .goodslist .totals em{margin:0 10px 0 0;}
.myordershow .other{clear:both;}
.myordershow .other h3{background:#fafafa;overflow:hidden;border:1px solid #eee;border-left:0;border-right:0;padding:10px 25px;font-weight:400;margin:0;}
.myordershow .other ul{margin:15px 25px;list-style:none;}
.myordershow .other ul li{color:#666;line-height:30px;word-break:break-all;}

#express span{margin-right:10px;color:#999;}
#express li:first-child{color:#f30;}
#express li:first-child span{color:#f30;}


/*购物车*/
.cart{margin:20px 0;padding:20px;box-shadow:1px 2px 10px rgba(0,0,0,0.1);border:1px solid #f3f3f3;background:#fff;}
.cart .nogoods{padding:80px 60px 120px 60px;font-size:16px;text-align:center;font-weight:300;color:#333;}
.cart .nogoods p{padding:0;margin:0 0 20px 0;}
.cart .nogoods span{display:inline-block;font-size:70px;color:#ddd;}
.cart .nogoods a{display:inline-block;width:180px;height:48px;line-height:48px;text-align:center;cursor:pointer;font-size:16px;color:#1890FF;border:1px solid #1890FF;border-radius:2px;transition:color .15s ease 0s;position:relative;z-index:1}
.cart .nogoods a:before{position:absolute;top:-1px;left:-1px;width:0;height:50px;background:#1890FF;border-radius:2px;content:"";transition-delay:0s;transition:width .15s ease 0s;z-index:-1}
.cart .nogoods a:hover{color:#fff}
.cart .nogoods a:hover:before{width:101%;}
.cart .pic{border:1px solid #f3f3f3;width:80px;vertical-align:text-top;margin:0 15px 0 5px;float:left;padding:2px;}
.cart td{padding:10px;}
.cart .ui-text-right{text-align:right;color:#777;border-left:0;}
.cart .ui-text-right span em{color:#f30;font-weight:bold;padding:0 6px;}
.cart .item_total span{color:#f30;}
.cart ul{list-style:none;}
.cart li{padding-left:15px;line-height:24px;}
.cart li a{color:#666;}
.cart li a:hover{color:#f30;}

/*订单提交*/
.cart_order{margin:10px 0 0 0;padding:15px 20px;box-shadow:1px 2px 10px rgba(0,0,0,0.1);border:1px solid #f3f3f3;background:#fff;}
.cart_order .ui-tabs-nav li{margin-right:20px;}
.cart_order .ui-tabs-nav li a{padding:0 0 15px 0;}
.cart_order .ui-tabs-nav li.active{margin-bottom:-1px;}
.cart_order .address{overflow:hidden;margin:20px 0 0 0;}
.cart_order .address ul{width:1165px;list-style:none;}
.cart_order .address ul li{float:left;width:275px;margin:0 15px 15px 0;border:1px solid #ededed;box-shadow:1px 2px 10px rgba(0,0,0,0.08);height:160px;position:relative;border-radius:4px;background:#fff;cursor:pointer;}
.cart_order .address ul li .pd{padding:15px 20px;}
.cart_order .address ul li h4{font-weight:bold;font-size:16px;margin:0;padding:0;}
.cart_order .address ul li h4 span{float:right;color:#90BAFF;}
.cart_order .address ul li p{color:#666;line-height:24px;margin:8px 0 0 0;padding:0;}
.cart_order .address ul li:hover{box-shadow:0px 1px 10px rgba(0,0,0,0.1);}
.cart_order .address ul li:hover .bt{display:block;}
.cart_order .address ul li i{position:absolute;right:6px;top:4px;display:block;font-size:20px;color:#fff;z-index:10;display:none;}
.cart_order .address ul .hover{border-color:#CADCFA;background:#fff;}
.cart_order .address ul .hover:before{position:absolute;content:"";right:0;top:0;color:#1890FF;width:0;height:0;border-top:60px solid #1890FF;border-left:60px solid transparent;z-index:10;}
.cart_order .address ul .hover i{display:block;}
.cart_order .address ul .add{text-align:center;line-height:160px;color:#999;}
.cart_order .address ul .add span{margin-right:10px;}
.cart_order .address ul .add a{color:#999;display:block;}
.cart_order .address ul .add:hover a{color:#f30;}

.cart_order .store{overflow:hidden;margin:20px 0 0 0;}
.cart_order .store ul{width:1165px;list-style:none;}
.cart_order .store ul li{float:left;width:275px;margin:0 15px 15px 0;border:1px solid #ededed;box-shadow:1px 2px 10px rgba(0,0,0,0.08);height:160px;position:relative;border-radius:4px;background:#fff;cursor:pointer;}
.cart_order .store ul li .pd{padding:15px 20px;}
.cart_order .store ul li h4{font-weight:bold;font-size:16px;margin:0;padding:0;}
.cart_order .store ul li h4 span{float:right;color:#90BAFF;}
.cart_order .store ul li p{color:#666;line-height:24px;margin:8px 0 0 0;padding:0;}
.cart_order .store ul li:hover{box-shadow:0px 1px 10px rgba(0,0,0,0.1);}
.cart_order .store ul li:hover .bt{display:block;}
.cart_order .store ul li i{position:absolute;right:6px;top:4px;display:block;font-size:20px;color:#fff;z-index:10;display:none;}
.cart_order .store ul .hover{border-color:#CADCFA;background:#fff;}
.cart_order .store ul .hover:before{position:absolute;content:"";right:0;top:0;color:#1890FF;width:0;height:0;border-top:60px solid #1890FF;border-left:60px solid transparent;z-index:10;}
.cart_order .store ul .hover i{display:block;}

.cart_order .pic{border:1px solid #f3f3f3;width:80px;vertical-align:text-top;margin:0 15px 0 5px;float:left;padding:2px;}
.cart_order .feel_total{}
.cart_order .feel_total .coupon{float:left;margin:20px 0 0 0;}
.cart_order .feel_total .message{float:left;margin:20px 0 0 15px;width:400px;}
.cart_order .feel_total .message .ui-form-ip{min-height:52px;}
.cart_order .feel_total .total{width:250px;float:right;line-height:28px;padding:20px 0 0 0;text-align:right;}
.cart_order .feel_total .total span{display:inline-block;width:120px;text-align:right;color:#999;float:left;}
.cart_order .feel_total .total em{margin:0 10px 0 0;}
.cart_order .action{text-align:right;margin:10px 0 0 0;clear:both;overflow:hidden;}
.cart_order .action span{color:#f30;font-size:18px;}
.cart_order .action textarea{width:300px;padding:10px;float:left;border:1px solid #eaeaea;overflow:hidden;margin:10px 0;}
.cart_order table ul{list-style:none;margin-left:12px;}
.cart_order table ul li{line-height:24px;}

.ordershow{margin:10px 0 0 0;box-shadow:1px 2px 10px rgba(0,0,0,0.1);border:1px solid #f3f3f3;background:#fff;}
.ordershow .tip{margin:30px 40px 30px 40px;position:relative;}
.ordershow .tip h3{font-size:24px;font-family:microsoft yahei;font-weight:300;margin:0;}
.ordershow .tip h3 span{margin-right:20px;}
.ordershow .tip p{padding-left:54px;margin:0;color:#666;}
.ordershow .tip div{position:absolute;bottom:20px;right:0;top:35px;text-align:right;color:#999;}
.ordershow .tip div em{color:#f60;font-size:24px;}
.ordershow .tip div p{margin:0;padding:0;}
.ordershow .tip div p em{color:#f60;}
.ordershow .tip p em{color:#f30;}
.ordershow h5{font-size:18px;font-family:microsoft yahei;font-weight:300;padding-left:30px;background:#fafafa;border:1px solid #f3f3f3;border-left:0;border-right:0;height:50px;line-height:50px;margin:10px 0;}
.ordershow .info{margin:0;list-style:none;}
.ordershow .info li{padding:0 0 10px 0;font-size:14px;}
.ordershow .info li span{display:inline-block;width:120px;text-align:right;padding-right:10px;color:#999;}
.ordershow .info li em{color:#f30;}
.ordershow .pay{margin:0 20px 5px 20px;list-style:none;overflow:hidden;}
.ordershow .pay li{float:left;width:19%;margin:5px 1% 1% 0;cursor:pointer;}
.ordershow .pay li div{border:1px solid #efefef;text-align:center;margin-left:10px;position:relative;}
.ordershow .pay li div i{position:absolute;right:2px;bottom:2px;display:block;font-size:12px;color:#fff;z-index:10;display:none;}
.ordershow .pay .active div:before{position:absolute;content:"";right:0;bottom:0;color:#1890FF;width:0;height:0;border-bottom:30px solid #1890FF;border-left:30px solid transparent;z-index:10;}
.ordershow .pay .active div{border-color:#90BAFF;}
.ordershow .pay .active div i{display:block;}
.ordershow .bottom{height:70px;line-height:70px;bottom:0;background:#fafafa;border-top:1px solid #eee;text-align:center;padding:0 20px;}

.ordergroup{margin:10px 0 0 0;}
.ordergroup:after{content:" ";display:table;clear:both}
.ordergroup .box{box-shadow:1px 2px 10px rgba(0,0,0,0.1);border:1px solid #f3f3f3;padding:10px 20px 15px 20px;margin-bottom:20px;min-height:500px;background:#fff;}
.ordergroup .left{width:480px;float:left;}
.ordergroup .right{margin-left:500px;}
.ordergroup .groupinfo{padding:15px 0;list-style:none;}
.ordergroup .groupinfo ul{list-style:none;}
.ordergroup .groupinfo li{line-height:30px;}
.ordergroup .groupinfo li span{color:#999;}
.ordergroup .groupinfo li .ui-endtime i{display:inline-block;background:#ED4014;color:#fff;margin:0 5px;min-width:30px;line-height:30px;text-align:center;border-radius:4px;}

.ordergroup .goodsinfo{padding:20px 0;}
.ordergroup .goodsinfo img{border:1px solid #eaeaea;float:left;margin-right:15px;}
.ordergroup .goodsinfo .title{font-size:15px;font-weight:400;}
.ordergroup .goodsinfo .intro{font-size:13px;color:#666;padding-top:10px;}
.ordergroup .grouplist{text-align:left;margin:15px 0 0 0;}
.ordergroup .grouplist ul{list-style:none;}
.ordergroup .grouplist ul li{padding:10px 0;border-bottom:1px solid #eaeaea;overflow:hidden;color:#666;}
.ordergroup .grouplist ul li img{width:48px;height:48px;margin-right:15px;float:left;border-radius:50%;}
.ordergroup .grouplist ul li span{color:#999;padding:0 5px 0 0;}

.goods_info{overflow:hidden;padding:20px 0;border-bottom:1px solid #f3f3f3;margin-bottom:10px;}
.goods_info .left{width:100px;float:left;}
.goods_info .left img{border:1px solid #eaeaea;padding:3px;}
.goods_info .right{margin-left:120px;}
.goods_info .right .title{line-height:30px;}
.goods_info .right .price{color:#666;line-height:26px;}
.goods_info .right .price span{color:#f30;font-size:18px;padding-right:10px;font-family:verdana;}
.goods_info .right .price del{color:#999;padding-right:10px;font-family:verdana;}

.coupon{margin:15px 0;overflow:hidden;margin-right:-2%;}
.coupon-item{background:#fff;border:1px solid #eee;margin:0 0 10px 0;width:31.3%;padding:20px;float:left;margin:0 2% 2% 0;border-top:3px solid #ccc;}
.coupon-top{line-height:70px;color:#999;position:relative;}
.coupon-top sub{font-size:18px;font-weight:normal;bottom:0;}
.coupon-top span{font-size:48px;color:#1890FF;margin-right:5px;}
.coupon-top a{position:absolute;right:0px;top:15px;background:#fff;color:#666;border:1px solid #ccc;display:block;padding:8px 15px;border-radius:20px;line-height:normal;}
.coupon-top a:hover{background:#1890FF;border-color:#1890FF;color:#fff;}
.coupon-body{padding:10px 0;border-top:1px solid #eee;}
.coupon-name{padding:5px 0;}
.coupon-intro{color:#999;}
.coupon-intro span{color:#f30;}
.coupon-user .coupon-item{width:48%;}

.brand-list{margin-top:15px;}
.brand-list ul{list-style:none;display:flex;flex-wrap:wrap;margin-left:0px;margin-right:-10px;}
.brand-list ul li{width:10%;background:#fff;text-align:center;padding:10px;border:1px solid #eee;margin-bottom:-1px;margin-left:-1px;position:relative;overflow:hidden;}
.brand-list ul li .name{position:absolute;left:0;right:0;bottom:-70px;line-height:70px;height:70px;background:rgba(51,51,51,.6);color:#fff;transition:all 0.4s ease;}
.brand-list ul li:hover .name{bottom:0;z-index:2;}

.brand-show{padding:15px 0;}
.brand-show p{margin-bottom:15px;}
.brand-show p:last-child{margin-bottom:0;}
.brand-show *{max-width:100%;}

.artcile{display:flex;margin:15px 0;}
.artcile .box{background:#fff;box-shadow:1px 2px 10px rgba(0,0,0,0.1);padding:5px 20px 10px 20px;}
.artcile-left{width:260px;margin-right:20px;}
.artcile-right{flex:1;}

.menu-list{list-style:none;}
.menu-list li{border-bottom:1px solid #eee;padding:10px 0;}
.menu-list li.active a{color:#f30;}


.menu-sub .ui-collapse-menu-title{padding:0;}
.menu-sub .ui-collapse-menu-title i{color:#999;}
.menu-sub .ui-collapse-menu-title a{color:#333;}
.menu-sub .ui-collapse-menu-title.active{background:#fff;}
.menu-sub .ui-collapse-menu-title.active a{color:#296BEF;}
.menu-sub .ui-collapse-menu-title.active i{color:#296BEF;}
.menu-sub .ui-collapse-menu-body{background:#fff;}
.menu-sub .ui-collapse-menu-body li{padding-left:15px;}
.menu-sub .ui-collapse-menu-body .active a{color:#f30;}

.article-show{padding:15px 0;}
.article-show h1{font-size:20px;color:#333;font-weight:bold;}
.article-show .info{border-bottom:1px solid #eee;padding-bottom:15px;margin-bottom:15px;color:#999;}
.article-show .intro{min-height:300px;word-break:break-all;}
.article-show .intro img{max-width:100%;}
.article-show .intro p{margin:5px 0 15px 0;line-height:26px;}
.article-show .intro:after{content:"";display:table;clear:both;}

.pay{margin:0;padding:0;list-style:none;overflow:hidden;}
.pay li{float:left;width:50%;margin:0 0 0 0;cursor:pointer;}
.pay li div{border:1px solid #efefef;text-align:center;position:relative;}
.pay li div img{max-width:100%;}
.pay li:first-child div{margin-right:8px;}
.pay li:last-child div{margin-left:8px;}
.pay li div i{position:absolute;right:2px;bottom:2px;font-size:12px;color:#fff;z-index:10;display:none;}
.pay .active div:before{position:absolute;content:"";right:0;bottom:0;color:#1890FF;width:0;height:0;border-bottom:30px solid #1890FF;border-left:30px solid transparent;z-index:10;}
.pay .active div{border-color:#90BAFF;}
.pay .active div i{display:block;}

.step-bottom{background:linear-gradient(#fff,#f9f9f9);margin-top:-10px;padding:15px 30px;border:1px solid #eaeaea;border-radius:5px;font-size:16px;position:relative;box-shadow:1px 2px 10px rgba(0,0,0,0.1);z-index:0;}
.step-bottom .ui-col-6{line-height:47px;}
.tags{color:#999;margin-top:15px;}
.tags a{margin:0 6px;font-size:15px;font-family:arial,microsoft yahei;color:#666;}
.tags a:hover{color:#f30;}

.ui-tips-show{text-align:center;}

.ui-filter .ui-filter-right-image a.image{padding:0px;top:-3px;position:relative;}
.ui-filter .ui-filter-right-image a.image img{height:38px;}

.ui-dialog-tips{margin:100px auto 80px auto;position:relative;max-width:420px;z-index:10;border-radius:16px;}
.ui-show-share{color:#999;margin-top:20px;}
.ui-show-share a{display:inline-block;width:40px;line-height:35px;height:40px;border-radius:50%;border:1px solid #eaeaea;margin-left:10px;text-align:center;}
.ui-show-share a i{font-size:22px;}
.ui-show-share a:nth-child(1){color:#1890FF;}
.ui-show-share a:hover:nth-child(1){border-color:#1890FF;}
.ui-show-share a:nth-child(2){color:#ED4014;}
.ui-show-share a:hover:nth-child(2){border-color:#ED4014;}
.ui-show-share a:nth-child(3){color:#19BE6B;}
.ui-show-share a:hover:nth-child(3){border-color:#19BE6B;}